<%=form_for @transaction do |f|%>
  <%=f.label :bank_ifsc_code, "IFSC Code"%><br/>
  <%=f.text_field :bank_ifsc_code%><br/>   

  <%=f.label :bank_account_number %><br/>
  <%=f.text_field :bank_account_number%><br/>   

  <%=f.label :amount %><br/>
  <%=f.text_field :amount%><br/>   

  <%=f.label :merchant_transaction_ref %><br/>
  <%=f.text_field :merchant_transaction_ref %><br/>   

  <%=f.label :merchant_transaction_date %><br/>
  <%=f.text_field :merchant_transaction_date %>   <br/>
  
  <%=f.label :payment_gateway_merchant_reference %><br/>
  <%=f.text_field :payment_gateway_merchant_reference %><br/><br/>

  <%=f.submit "Pay"%>
<%end%>
